@import "Fonts.css";

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Leto', serif;
    font-size: 2vh;
}

body
{
    background-color: #202128;
}

.Header
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    color: #5ca7d6;
    background-color: #16161a;
    padding-bottom: 4vh;
    max-height: calc(36vh - 13vw);
    min-height: 10vh;
}

.Header img
{
    width: calc(16vh - 4vw);
    margin: 4vh;
}

.Header ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
}

.Header li
{
    margin: 1vh;
}

.Header a
{
    color: #60a2ff;
    padding: 1vh;
    border-radius: 0;
    font-size: 2.5vh;

    transition: background-color 0.5s,
                border-radius 0.5s;
}

.Header a:hover
{
    background-color: #202128;
    border-radius: 1vh;

    transition: background-color 0.5s,
                border-radius 0.5s;
}

.Content
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: 5vh auto;
}

.Content button
{
    border: none;
    border-radius: 1vh;
    color: #5fa0c9;
    background-color: #11171e;
    padding: 1vh 4vh;
    margin: 2vh;
    font-size: 2.5vh;
    min-width: 28vh;


    transition: transform 0.5s,
                border-radius 0.5s;
}

.Content button:hover
{
    border-radius: 1.5vh;
    transform: scale(1.05);
    cursor: pointer;

    transition: transform 0.5s,
                border-radius 0.5s;
}

.Content h1
{
    font-size: 4vh;
    color: #99eeff;
}

.Content img
{
    width: 34vh;
}

.Content input
{
    background-color: #16161a;
    border: none;
    border-radius: 1vh;
    color: #eee;
    padding: 1vh 3vh;
    margin: 1vh;
}

.Content input[type="submit"],
.Content input[type="button"]
{

}

.CentralBlock
{
    width: 100%;
    text-align: center;
    padding: 2vh;
}

.AuthBlock
{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 3vh;
}

.AuthBlock p
{
    color: #b1b1b1;
    padding: 3vh 0 1.5vh;
}